body{
    font-family:'Times New Roman', Times, serif;
    background-color:#7777b0;
}
     
.content {
    background-color: #777676; 
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}